{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react-hooks"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "React": "writable"
  }
}
